@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
/* -----------------------------------------------------
                    Common CSS End
----------------------------------------------------- */

.header{
    background: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 30px 8%;
}
nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    color: #fff;
}
button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
}
button span{
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    margin-left: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background .5s, margin-left .5s;
    -webkit-transition: background .5s, margin-left .5s;
    -moz-transition: background .5s, margin-left .5s;
    -ms-transition: background .5s, margin-left .5s;
    -o-transition: background .5s, margin-left .5s;
}
.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    width: 700px;
    margin-left: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    opacity: 0;
    transition:  opacity .5s;
    -webkit-transition:  opacity .5s;
    -moz-transition:  opacity .5s;
    -ms-transition:  opacity .5s;
    -o-transition:  opacity .5s;
}
.text-container{
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}
.text-container h1{
    font-size: 70px;
    font-weight: 500;
}
.text-container a{
    background: #00986f;
    padding: 14px 40px;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.active{
    background: green;
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}